#clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    color: red;
    width: 600;

}
.name{
    font-size: 75px;
    width: 500px;
    margin: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    color: yellowgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600;
}